<!doctype html>
<html>
<head>
	<title>Ethduck Quack Approve</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<h1>Authorize Move</h1>
	<h2>{{ . }} Do you approve?</h2>
	<div class="well">
		<form action="/authorize/" method="POST">
			<div class="form-group">
				<input type="radio" name="approve" value="true">Yes<br>
				<input type="radio" name="approve" value="false">No<br>
			</div>
			<div class="form-group">
				<label for="private">Your Private Key</label>
				<input type="text" name="private" placeholder="privatekey" required class="form-control" />
			</div>
			<input type="submit" class="btn btn-primary btn-submit">
		</form>
	</div>
	<style type="text/css">
		html {
			text-align: center;
		}
		form {
			width: 600px;
			display: inline-block;
			text-align: left;
		}
	</style>
</body>
</html>
