<!doctype html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	{{if not .Game.Confirmed }}
		<h1>Game needs to be confirmed.</h1>
		<h2>White stone player should <a href="/confirm/{{.Game.ContractAddr}}">click here to add their wager and confirm the game.</a></h2>
	{{else}}
	<body>
		<h1>{{if .Game.BlackTurn }}Black's{{else}}White's{{end}} Turn</h1>
		<div class="desc">
			<p>Current Black Score: {{.Game.BlackScore}}. Current White Score: {{.Game.WhiteScore}}.</p>
		{{if or .Game.Draw .Game.Winner }}
			{{if .Game.Draw }}
				<h3>Draw proposed! {{if .Game.BlackTurn}}White{{else}}Black{{end}} needs to <a href="/auth/draw/{{.Game.ContractAddr}}">approve here.</a></h3>
			{{else if .Game.Winner}}
				<h3>{{if eq .Game.Winner 1 }}Black{{else}}White{{end}} proposed that they won! {{if .Game.BlackTurn}}White{{else}}Black{{end}} needs to <a href="/auth/win/{{.Game.ContractAddr}}">approve here.</a></h3>
			{{end}}
		{{else if .Game.ApprovalLock}}
			<h3>{{if .Game.BlackTurn}}White{{else}}Black{{end}} needs to approve {{.Game.ProposedMove}}. <a href="/auth/move/{{.Game.ContractAddr}}">Approve here.</a></h3>
		{{else}}
			<p><a href="/propose/win/{{.Game.ContractAddr}}">Propose self winner here.</a>  <a href="/propose/draw/{{.Game.ContractAddr}}">Propose draw here.</a></p>
		{{end}}
		</div>
		<div style="height:100vh">{{.PrettySVG}}</div>
		<div id="confirm-move" class="modal fade">
			<form action="/games/{{.ContractAddr}}" method="POST">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Confirm Move</h4>
						</div>
						<div class="modal-body">
							<p>Confirm this move</p>
							<div class="well" id="move-sig">
								black-3-0
							</div>
							<div class="form-group">
								<label for="private">Your Private Key</label>
								<input type=text name="private" required>
							</div>
							<input type=hidden name="orig-message" id="orig-message" />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<input type="submit" value="Confirm" class="btn btn-primary">
						</div>
					</div>
				</div>
			</form>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				var currentColor = {{if .Game.BlackTurn}}"black"{{else}}"white"{{end}};
				var $confirmMoveModal = $('#confirm-move');
				var $confirmText = $('#move-sig');
				var $origText = $('#orig-message');

				$('#board').on('click', '.empty-vertex', function(e) {
					var $el = $(this);
					window.el = $el;
					var x = $el.data('x');
					var y = $el.data('y');
					var msg = [ currentColor, x, y ].join('-');
					$confirmText.text(msg);
					$origText.attr('value',msg);
					$confirmMoveModal.modal();
				});
			});
		</script>
		<style type="text/css">
			h1 {
				text-align: center;
			}
			.empty-vertex {
				cursor: pointer;
			}
			.desc {
				text-align: center;
			}
		</style>
	</body>
	{{ end }}
</html>
